.container {
  height: 90vh;
}

.head {
  height: 10vh;
}


.reals {
  height: 60%;
}

.real {
  border: 1px solid grey;
  width: 50px;
  height: 50px;
  padding: 5px;
  padding: 5px;
  font-size: 20px;
  background-color: #f1f1f1;
}

.job {
  display: inline-block;
  border: 1px solid black;
}

.job-Pending {
  background-color: grey;
}

.job-Running {
  background-color: yellow;
}

.job-Failed {
  background-color: red;
}

.job-Finished {
  background-color: #99ff66;
}

.real-unknown {
    background-color: #f1f1f1;
}

.real-running {
    background-color: yellow;
}

.real-done {
    background-color: #99ff66;
}

.real-failed {
    background-color: pink;
}

.real-details {
  height: 40%;

}
